#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
	qmake CONFIG+=noupcasename Jamulus.pro

override_dh_usrlocal:
	echo $$(pwd)
	mkdir -p $$(pwd)/debian/jamulus/usr/bin/
	install -D -m 0755 jamulus $$(pwd)/debian/jamulus/usr/bin/
	mkdir -p $$(pwd)/debian/jamulus/usr/share/applications/
	install -D -m 0755 $$(pwd)/distributions/jamulus.desktop $$(pwd)/debian/jamulus/usr/share/applications/
	mkdir -p $$(pwd)/debian/jamulus/usr/share/icons/hicolor/512x512/apps/
	cp $$(pwd)/distributions/jamulus.png $$(pwd)/debian/jamulus/usr/share/icons/hicolor/512x512/apps/
	mkdir -p $$(pwd)/debian/jamulus/lib/systemd/system
	cp $$(pwd)/distributions/jamulus-server.service $$(pwd)/debian/jamulus/lib/systemd/system/
