[Desktop Entry]
Name=Jamulus
Comment=Jam Session
GenericName=Internet Jam Session Software
Exec=jamulus
Icon=jamulus
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Mixer;Qt;

