.qmake.stash
Jamulus
Jamulus.ini
Makefile
*.pro.user*
**.cppe
**.he
.cproject
.project
.settings
.idea
.vscode
.cache
*.user
*.user.*
*.o
moc_*.cpp
ui_*.h
moc_predefs.h
src/res/qrc_resources.cpp
libs/ASIOSDK2
windows/VC_redist.x64.exe
windows/vc_redist.x86.exe
windows/nsProcess.dll
windows/NSIS
windows/nsProcess/Release/
debug/
release/
build/
deploy/
build-gui/
build-nox/
jamulus.sln
jamulus.vcxproj
jamulus.vcxproj.filters
Jamulus.app/
.DS_Store
distributions/opus*
distributions/jack2
distributions/claudio_piano.sf2
distributions/fluidsynth*
distributions/jamulus.desktop
distributions/jamulus-server.desktop
.xcode
Debug-iphoneos/
Jamulus.xcodeproj
jamulus_plugin_import.cpp
.github_release_changelog.md
debian/
