<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
    <key>CFBundleIconFile</key>
    <string>llcon.icns</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleGetInfoString</key>
    <string>Created by Qt/QMake</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleExecutable</key>
    <string>llcon</string>
    <key>CFBundleIdentifier</key>
    <string>com.yourcompany.llcon</string>
    <key>WorkingDirectory</key>
    <string>$APP_PACKAGE/Contents/MacOS</string>
</dict>
</plist>
