Source: jamulus
Section: sound
Priority: optional
Maintainer: "The Jamulus Development Team" <team@jamulus.io>
Build-Depends:
 debhelper (>= 9),
 libjack-jackd2-dev,
 qtbase5-dev,
 qttools5-dev-tools,
Standards-Version: 3.9.7
Homepage: https://jamulus.io
Vcs-Git: git://github.com/jamulussoftware/jamulus.git
Vcs-Browser: https://github.com/jamulussoftware/jamulus

Package: jamulus
Architecture: any
# Define dependencies explicitly for the best compatibility across all supported Ubuntu/Debian versions.
# The automatism would otherwise select package names or versions which are not available on some systems,
# especially when run in the Github Ubuntu 18.04 build environment.
Depends: libc6 (>= 2.17), libstdc++6 (>= 5.2), libgcc1 (>= 1:3.0), libjack-jackd2-0 (>= 1.9.5~dfsg-14) | libjack-0.116, libqt5core5a (>= 5.9.5), libqt5network5 (>= 5.9.5), libqt5xml5 (>= 5.9.5), libqt5gui5 (>= 5.9.5) | libqt5gui5-gles (>= 5.9.5), libqt5widgets5 (>= 5.9.5), libqt5multimedia5 (>= 5.9.5)
Recommends: qjackctl
Description: Low latency Audio Server/Client
 Jamulus is for playing, rehearsing, or just jamming with your friends, your band
 or just anyone you find online. With high quality, low-latency sound on a normal
 broadband connection, it's easy to play together remotely and in time.
 There is one server running the Jamulus server software which
 collects the audio data from each Jamulus client, mixes the audio data and
 sends the mix back to each client.
 .
 It runs on all major operating systems.

Package: jamulus-headless
Architecture: any
Depends: libc6 (>= 2.17), libstdc++6 (>= 5.2), libgcc1 (>= 1:3.0), libqt5core5a (>= 5.9.5), libqt5network5 (>= 5.9.5), libqt5xml5 (>= 5.9.5)
Description: Low latency Audio Server (headless)
 This package contains a Jamulus binary built for headless operation
 (without GUI library dependencies) and a jamulus-headless systemd service.
 Jamulus is for playing, rehearsing, or just jamming with your friends, your band
 or just anyone you find online. With high quality, low-latency sound on a normal
 broadband connection, it's easy to play together remotely and in time.
 There is one server running the Jamulus server software which
 collects the audio data from each Jamulus client, mixes the audio data and
 sends the mix back to each client.
 .
 It runs on all major operating systems.
 .
