[Unit]
Description=Jamulus headless server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=jamulus
Group=nogroup
NoNewPrivileges=true
ProtectSystem=true
ProtectHome=true
Nice=-20
IOSchedulingClass=realtime
IOSchedulingPriority=0
MemorySwapMax=0

#### Change this to publish this server, set genre, location and other parameters.
#### See https://jamulus.io/wiki/Running-a-Server#server-mode-related-options ####
ExecStart=/usr/bin/jamulus-headless -s -n

Restart=on-failure
RestartSec=30
StandardOutput=journal
StandardError=inherit
SyslogIdentifier=jamulus


[Install]
WantedBy=multi-user.target
