Source: jamulus
Section: sound
Priority: optional
Maintainer: "corrados" <nomail@example.com>
Build-Depends:
 debhelper (>= 9),
 libjack-jackd2-dev,
 qtbase5-dev,
 qttools5-dev-tools,
Standards-Version: é&%JAMVERSION%&è
Homepage: https://jamulus.io
Vcs-Git: git://github.com/corrados/jamulus.git
Vcs-Browser: https://github.com/corrados/jamulus

Package: jamulus
Architecture: any
Depends: libc6 (>= 2.17), libgcc1 (>= 1:3.0), libjack-jackd2-0 (>= 1.9.5~dfsg-14) | libjack-0.116, libqt5core5a (>= 5.5.0), libqt5gui5 (>= 5.0.2) | libqt5gui5-gles (>= 5.0.2), libqt5network5 (>= 5.0.2), libqt5widgets5 (>= 5.2.0), libqt5xml5 (>= 5.0.2), libstdc++6 (>= 5.2)
Recommends: qjackctl
Description: Low latency Audio Server/Client
 The Jamulus software enables musicians to perform real-time jam sessions over
 the internet. There is one server running the Jamulus server software which
 collects the audio data from each Jamulus client, mixes the audio data and
 sends the mix back to each client.
 .
 It runs on Windows / macOS / Linux.

Package: jamulus-headless
Architecture: any
Depends: libqt5core5a (>= 5.5.0), libqt5network5 (>= 5.0.2), libqt5xml5 (>= 5.0.2)
Description: Low latency Audio Server (headless)
 The Jamulus software enables musicians to perform real-time jam sessions over
 the internet. There is one server running the Jamulus server software which
 collects the audio data from each Jamulus client, mixes the audio data and
 sends the mix back to each client.
 .
 It runs on Windows / macOS / Linux.
 .
 This package contains a Jamulus binary built for headless operation
 (without GUI library dependencies) and a jamulus-headless systemd service.
