[Unit]
Description=Jamulus-Server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=jamulus
ExecStart=/usr/bin/jamulus -s -n -a DEBIAN -e jamulus.fischvolk.de -g -w "Welcome on a Server"

[Install]
WantedBy=multi-user.target
