#### Automatically build and upload releases to GitHub ####

on:
  push:
    tags:
      - "r*"
    branches:
    #  - "*"
    #  - master         
    #  - *autobuild*
  workflow_dispatch:
name:                               Publish Release
jobs:
  create_release:
     name:                          Create release
     runs-on:                       ubuntu-latest
     outputs:
      upload_url:                   ${{ steps.create_release_step.outputs.upload_url }}
      version:                      ${{ steps.jamulus-build-vars.outputs.JAMULUS_VERSION }}
      version_name:                 ${{ steps.jamulus-build-vars.outputs.RELEASE_VERSION_NAME }}

     steps:
         # Checkout code
         - name:                    Checkout code
           uses:                    actions/checkout@v2

         # Set variables
         # Determine release / pre-release
         - name:                    Get Jamulus build info
           run:                     sh ${{ github.workspace }}/.github/actions_scripts/get_release_vars.sh ${{ github.workspace }}
           id:                      jamulus-build-vars

         # remove release, if it exists (with this releasetag)
         - name:                    Remove release, if existing (for latest and branches)
           continue-on-error:       true
           uses:                    dev-drprasad/delete-tag-and-release@v0.1.2
           with:
             delete_release:        false
             tag_name:              ${{ steps.jamulus-build-vars.outputs.RELEASE_TAG }}
           env:
             GITHUB_TOKEN:          ${{ secrets.GITHUB_TOKEN }}
         # create release (empty, filled by next jobs)
         - name:                    'Create Release ${{steps.jamulus-build-vars.outputs.RELEASE_TAG}}  {{steps.jamulus-build-vars.outputs.RELEASE_TITLE}}'
           id:                      create_release_step
           uses:                    actions/create-release@v1
           env:
             GITHUB_TOKEN:          ${{ secrets.GITHUB_TOKEN }}
           with:
             tag_name:              ${{ steps.jamulus-build-vars.outputs.RELEASE_TAG }}
             release_name:          ${{ steps.jamulus-build-vars.outputs.RELEASE_TITLE }}
             body_path:             ${{ github.workspace }}/autoLatestChangelog.md
             prerelease:            ${{ steps.jamulus-build-vars.outputs.IS_PRERELEASE }}
             draft:                 false


         ### CANCEL ### can be used for development concerning release-creation
         #- name:                    Cancelthrougherroe
         #  run:                     myundefinedfunction


  release_assets:
    name:                           Release assets for ${{ matrix.config.config_name }}
    needs:                          create_release
    runs-on:                        ${{ matrix.config.building_on_os }}
    strategy:
      fail-fast:                    false
      matrix: # Think of this like a foreach loop. Basically runs the steps with every combination of the contents of this. More info: https://docs.github.com/en/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
        config:
           - config_name:           Linux (normal)
             target_os:             linux
             building_on_os:        ubuntu-18.04
             asset_path:            deploy/Jamulus_amd64.deb
             asset_name:            jamulus_${{ needs.create_release.outputs.version_name }}_ubuntu_amd64.deb
           - config_name:           Linux (headless)
             target_os:             linux
             building_on_os:        ubuntu-18.04
             asset_path:            deploy/Jamulus_headless_amd64.deb
             asset_name:            jamulus_headless_${{ needs.create_release.outputs.version_name }}_ubuntu_amd64.deb
           - config_name:           MacOS
             target_os:             macos
             building_on_os:        macos-10.15
             asset_path:            deploy/Jamulus-installer-mac.dmg
             asset_name:            jamulus_${{ needs.create_release.outputs.version_name }}_mac.dmg
           - config_name:           Windows
             target_os:             windows
             building_on_os:        windows-latest
             asset_path:            deploy\Jamulus-installer-win.exe
             asset_name:            jamulus_${{ needs.create_release.outputs.version_name }}_win.exe
           - config_name:           AndroidAPK
             target_os:             android
             building_on_os:        ubuntu-18.04
             asset_path:            android-build/build/outputs/apk/debug/android-build-debug.apk
             asset_name:            jamulus_${{ needs.create_release.outputs.version_name }}_android.apk
    steps:

      # Checkout code
      - name:                       Checkout code
        uses:                       actions/checkout@v2
        with:
          submodules:               true

      # Build
      - name:                       "Build deb (Linux)"
        run:                        sh linux/autorelease_linux.sh ${{ github.workspace }}
        if:                         matrix.config.target_os == 'linux'
      - name:                       "Build (Windows)"
        run:                        powershell .\windows\autorelease_windows.ps1 -sourcepath "${{ github.workspace }}"
        if:                         matrix.config.target_os == 'windows'
      - name:                       "Build (macOS)"
        run:                        sh mac/autorelease_mac.sh ${{ github.workspace }}
        if:                         matrix.config.target_os == 'macos'
      - name:                       "Build (Android)"
        uses:                       ./android/automated_build/ # Uses an action in the directory
        if:                         matrix.config.target_os == 'android'

      # Upload release
      - name:                       Upload Release Asset - Tag
        id:                         upload-release-asset
        uses:                       actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN:             ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url:               ${{ needs.create_release.outputs.upload_url }} # See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps
          asset_path:               ${{ matrix.config.asset_path }}
          asset_name:               ${{ matrix.config.asset_name }}
          asset_content_type:       application/octet-stream
          
  ## Builds a Linux flatpack ##
  flatpak-builder:
    name: "Flatpak Builder"
    runs-on: ubuntu-latest
    needs: [create_release]
    container:
      image: docker.io/bilelmoussaoui/flatpak-github-actions
      options: --privileged
    steps:
    - uses: actions/checkout@v2
    - name:                    Change branch name in manifest
      run:                     python3 io.jamulus.Jamulus.prepare.py $GITHUB_SHA
      working-directory:       ./distributions/
    - uses: bilelmoussaoui/flatpak-github-actions@v2
      with:
        bundle: "io.jamulus.Jamulus.flatpak"
        manifest-path: "distributions/io.jamulus.Jamulus.json"
    - uses: actions/download-artifact@v2
      with:
        name: io.jamulus.Jamulus
        path: ~/io.jamulus.Jamulus
