name: Debugging with SSH
on: push
jobs:
  build:
    runs-on: windows-latest
    steps:
     - uses: actions/checkout@v1
     - name: Try Build
       run: ./not-exist-file.sh it bloke build
     - name: Start SSH session
       uses: luchihoratiu/debug-via-ssh@main
       with:
         NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
         SSH_PASS: ${{ secrets.SSH_PASS }}
     - name: Don't kill instace
       if: ${{ failure() }}
       run: sleep 1h # Prevent to killing instance after failure
